.main-menu-header {
  display: flex;
  background-color: #000000;
  color: white;
  justify-content: center;
  font-size: 3rem;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.main-menu-title {
  margin: 2%;
  color: black;
  text-align: center;
  font-size: xx-large;
}

.main-menu-content {
  background-color: #dddddd;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.main-menu-button {
  background-color: #242424;
  color: white;
  text-align: center;
  padding: 3%;
  margin: 5%;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

@media (min-width: 600px) {
  .main-menu-content {
    background-color: #dddddd;
    margin: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }
}


