.main-menu-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: white;
  justify-content: center;
  font-size: 10vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  /* padding: 2%; */
}

.main-menu-user-email {
  font-size: 4vw;
  margin: 2%;
  color: #dddddd;
}

.main-menu-title {
  margin: 2%;
  color: black;
  text-align: center;
  background-color: #eeeeee;
  font-size: 6vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.main-menu-content {
  background-color: #ffffff;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  /* box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8); */
}

.main-menu-button {
  background-color: #242424;
  color: #dddddd;
  text-align: center;
  /* padding: 3%;
  margin: 5%; */
  width: 60vw;
  /* height: 40vh; */
  font-size: 5vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.main-menu-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 400px) {
  .main-menu-user-email {
    font-size: 3vw;
    margin: 2%;
    color: #dddddd;
  }
  .main-menu-header {
    font-size: 5vw;
  }
  .main-menu-button {
    font-size: 3vw;
    padding: 2%;
    margin: 2%;
  }
  .main-menu-content {
    background-color: gray;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: white;
  box-shadow: none;
  /* overflow: hidden; */
  }
  .main-menu-container {
    height: 100vh;
    justify-content: flex-start;
  }
}

@media (min-width: 1000px) {
  .main-menu-title {
    font-size: 3vw;
  }
  .main-menu-user-email {
    font-size: 2vw;
    margin: 2%;
    color: #dddddd;
  }
  .main-menu-header {
    font-size: 3vw;
  }
  .main-menu-button {
    font-size: 2vw;
    padding: 2%;
    margin: 2%;
  }
  .main-menu-content {
    background-color: gray;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: white;
  box-shadow: none;
  /* overflow: hidden; */
  }
  .main-menu-container {
    height: 100vh;
    justify-content: flex-start;
  }
}


