.nav-parent {
  background-color:black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* box-sizing: border-box; */
  /* width: 320px; */
  /* height: 5vh; */
  padding: 2%;
  /* margin: 1%; */
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.material-icons.menu-icon {
   font-size: 2rem;
   color: black
 }

 .nav-title-email-parent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

 }

.email {
  font-size: 1rem;
  text-align: right;
  color: #dddddd;
}

.title {
  color: white;
  font-size: 2rem;
}