.auth-parent {
  display: flex;
  flex-direction: column;
}

.auth-header {
  display: flex;
  background-color: #242424;
  color: white;
  justify-content: center;
  font-size: 15vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.login-container {
  display: flex;
  justify-content: center;
  background-color: #242424;
  margin: 2%;
  padding: 2%;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}

.logo {
  height: 200px;
  width: 200px;
  padding: 20px;
}

.section-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
  font-size: 6vw;
}

.register-container {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  margin: 20px;
  padding: 2%;
  height: 40vh;
  font-size: 6vw;
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.dark-button {
  font-size: 6vw;
}
.auth-input {
  font-size: 6vw;
}
.auth-button-container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-between;
}

@media (min-width: 400px) {
  .section-parent {
    display: flex;
    flex-direction: row;
    font-size: 6vw;
  }
  .auth-description {
    font-size: 5vw;
  }
  .register-container {
    height: 60vh
  }
}

